#top_info
  %a#tb{:href => '/talks'} Go back to list of talks
  %span.title #{@talk.title}
  %span#t_date  #{@talk.date.strftime '%A %B %d, %Y'}
  %hr
#big_vid
  <iframe src="http://blip.tv/play/#{@embed}.html" width="720" height="480" frameborder="0" scrolling="no" allowfullscreen></iframe><embed type="application/x-shockwave-flash" src="http://a.blip.tv/api.swf##{@embed}" style="display:none"></embed>


#lower
  #left-col
    %span.s_title Description
    :textile
      #{@talk.l_descrip}
  #right-col
    %span.s_title Meta
    :textile
      There will be more stuff here, such as the sponsors and whatnot.
