- content_for :assets do
  %script{:type => "text/javascript", :src => "https://apis.google.com/js/plusone.js"}
  =stylesheet_link_tag 'jq-slider'
  =javascript_include_tag 'jquery.slider'

#top_info
  %a#tb{:href => '/talks'} Go back to list of talks
  %span.title #{@talk.title}
  %span#t_date  #{@talk.date.strftime '%A %B %d, %Y'}
  %hr
- if @embed != ""
  #big_vid
    <iframe src="#{@embed}" width="720" height="480" frameborder="0" scrolling="no" allowfullscreen ebablejs="false"></iframe>
- else
  .warn= @warn


#lower
  #left-col
    %span.s_title Description
    :textile
      #{@talk.l_descrip}
    %ul.social
      %li
        = @fb_link
      %li
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      %li
        <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script><script type="in/share"></script>
      %li
        <g:plusone></g:plusone>
        
  #right-col
    %span.s_title Tags
    = partial 'tag/list', :locals => {:tags => @talk.tags}
    %br
    %hr
    %h3 Sponsors
    %ul.space
      - @talk.sponsors.each do |sponsor|
        %li
          %a{:href => sponsor.website, :rel => 'tipsy', :target => '_blank',:title => "#{sponsor.name}: #{sponsor.description}"}
            =image_tag sponsor.logo.url, {:width => 40, :height => 40}
    %hr
    %span.s_title Speakers
    %ul.speakers
      - @talk.people.each do |speaker|
        %li= partial 'people/personbadge', :locals => {:person => speaker}
    %hr
    %span.s_title Pictures
    %hr
    %span.s_title Slides
    %br
    = @slide_link
