!!!
%head
  %title hacsoc @ cwru
  = favicon_tag 'favicon.ico'
  = stylesheet_link_tag 'application'
%body
  #container
    #header
      %a#home{:href => '/'}
        = image_tag 'hacker-society-small.png', {:width => '30%'}
      %ul#topbar
        %li 
          %a{:href => 'http://acm.case.edu/'} ACM 
        %li 
          %a{:href => 'http://ieee.case.edu/'} IEEE
        %li 
          %a{:href => 'http://eecs.case.edu/'} EECS
        %li 
          %a{:href => 'http://case.edu/'} CWRU
    #content
      = yield 
    #footer
      The Hacker Society at Case Western Reserve University 
      #nav
        = link_to 'Home', '/'
        = link_to 'Talks', '/talks'
        = link_to 'People', '/people'
        = link_to 'Admin', '/admin'
